@charset "utf-8";

//css3D变幻，开记3D加速
@mixin translate3d($x,$y,$z){
	-webkit-transform: translate3d($x,$y,$z);
	-moz-transform: translate3d($x,$y,$z);
	-ms-transform: translate3d($x,$y,$z);
	-o-transform: translate3d($x,$y,$z);
	transform: translate3d($x,$y,$z);
}

//动画过渡方式(指定元素all为所有，时间，方式)
@mixin transition($value){
	-webkit-transition:$value;
	-moz-transition:$value;
	-ms-transition:$value;
	-o-transition:$value;
	transition:$value;
}