@charset "utf-8";

//transform变形方式，旋转，偏移…… http://blog.csdn.net/sadfishsc/article/details/7165163
@mixin transform($angle){
	-moz-transform:$angle;
	-webkit-transform:$angle;
	-o-transform:$angle;
	transform:$angle;
}

//旋转(deg)
@mixin rotate($angle){
	-webkit-transform: rotate($angle);
	-o-transform: rotate($angle);
	-moz-transform: rotate($angle);
	transform: rotate($angle);
}

//设置元素的基点位置
@mixin transformorigin($x:50%,$y:50%){
	-webkit-transform-origin:$x $y;
	-o-transform-origin:$x $y;
	-moz-transform-origin:$x $y;
	transform-origin:$x $y;
}

//纵坐标位移(px)
@mixin translateX($x){
	-moz-transform: translateX($x);
	-webkit-transform: translateX($x);
	-o-transform: translateX($x);
	-ms-transform: translateX($x);
	transform: translateX($x); 
}
@mixin translateY($y){
	-moz-transform: translateY($y);
	-webkit-transform: translateY($y);
	-o-transform: translateY($y);
	-ms-transform: translateY($y);
	transform: translateY($y); 
}