@charset "utf-8";

//=========================
//精灵图信息获取
//=========================

//获取精灵图总的宽
@function map-width($sprite){
    @return map-get(map-get($sprite,size),width);    
};

//获取精灵图总的高
@function map-height($sprite){
    @return map-get(map-get($sprite,size),height);
};

//获取精灵图url
@function map-url($sprite,$addedPath:'../'){
    @return $addedPath + map-get($sprite,url);
};

//获取精灵图列表
@function sprite-list($sprite){
    @return map-get($sprite,spriteNames);
};

//获取精灵图元素宽
@function sprite-width($sprite,$element){
    $es:map-get($sprite,element);
    $e:map-get($es,$element);
    @if $e == null {
        @debug 'Sprite "' + $element + '.png" file does not exist';
    };
    @return map-get($e,width);
};

//获取精灵图元素高
@function sprite-height($sprite,$element){
    $es:map-get($sprite,element);
    $e:map-get($es,$element);
    @if $e == null {
        @debug 'Sprite "' + $element + '.png" file does not exist';
    };
    @return map-get($e,height);
};

//获取精灵图元素X坐标
@function sprite-x($sprite,$element){
    $es:map-get($sprite,element);
    $e:map-get($es,$element);
    @if $e == null {
        @debug 'Sprite "' + $element + '.png" file does not exist';
    };
    @return map-get($e,x);
};

//获取精灵图元素Y坐标
@function sprite-y($sprite,$element){
    $es:map-get($sprite,element);
    $e:map-get($es,$element);
    @if $e == null {
        @debug 'Sprite "' + $element + '.png" file does not exist';
    };
    @return map-get($e,y);
};