html
    head
        title #{title}
        link(href="./images/favicon.ico", rel="shortcut icon")
        link(href="./css/style.css", rel="stylesheet")        
    body
        div#box.box
          a.sprite.sprite__f(href="javascript:void(0)")
          a.sprite.sprite__w(href="javascript:void(0)")
          a.sprite.sprite__s(href="javascript:void(0)")
        div#footer.footer !{footer}

        //- 页面入口文件
        script(src='./js/main.js')