html
    head
        title #{title}
    body
        h1.title hello
        
        div#footer.footer !{footer}
        //- - var item = ['one','two','three']
        //- each i in item
        //- li= i