@charset "utf-8";

//精灵图宽高设置方法
@mixin sprite-size($sprite,$element){
    $w:spriteW($sprite,$element)+px;
    $h:spriteH($sprite,$element)+px;
    
    width:$w;
    height:$h;
};

//精灵图背景坐标获取方法
@mixin sprite-position($sprite,$element){
    $x:- spriteX($sprite,$element)+px;
    $y:- spriteY($sprite,$element)+px;
    
    background-position:$x $y;
};