@charset "utf-8";

//精灵图宽高设置方法
@mixin sprite-size($sprite,$element){
    $w:spriteW($sprite,$element)+px;
    $h:spriteH($sprite,$element)+px;
    
    width:$w;
    height:$h;
};

//精灵图背景坐标获取方法
@mixin sprite-position($sprite,$element){
    $x:- spriteX($sprite,$element)+px;
    $y:- spriteY($sprite,$element)+px;
    
    background-position:$x $y;
};

//自定义字体
@mixin font-face($fontName){
    @font-face {
        font-family: '#{fontName}';
        src: url('../images/#{fontName}.eot');
        src:
            url('../images/#{fontName}.eot?#images-spider') format('embedded-opentype'),
            url('../images/#{fontName}.woff') format('woff'),
            url('../images/#{fontName}.ttf') format('truetype'),
            url('../images/#{fontName}.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    };
};