@charset "utf-8";

//=========================
//精灵图信息获取
//=========================

//获取精灵图总的宽
@function mapW($sprite){
    @return map-get(map-get($sprite,size),width);    
};

//获取精灵图总的高
@function mapH($sprite){
    @return map-get(map-get($sprite,size),height);
};

//获取精灵图url
@function mapUrl($sprite){
    @return map-get($sprite,url);
};

//获取精灵图列表
@function spriteL($sprite){
    @return map-get($sprite,spriteNames);
};

//获取精灵图元素宽
@function spriteW($sprite,$element){
    $es:map-get($sprite,element);
    $e:map-get($es,$element);
    @return map-get($e,width);
};

//获取精灵图元素高
@function spriteH($sprite,$element){
    $es:map-get($sprite,element);
    $e:map-get($es,$element);
    @return map-get($e,height);
};

//获取精灵图元素X坐标
@function spriteX($sprite,$element){
    $es:map-get($sprite,element);
    $e:map-get($es,$element);
    @return map-get($e,x);
};

//获取精灵图元素Y坐标
@function spriteY($sprite,$element){
    $es:map-get($sprite,element);
    $e:map-get($es,$element);
    @return map-get($e,y);
};

